# General
.DS_Store
.env
.env.local
.env.*.local
*.log

# Editors
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/
*.egg-info/
.coverage
htmlcov/
.pytest_cache/

# Node.js / Frontend
node_modules/
dist/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.next/
out/

# Database
*.sqlite3
*.db
*.sqlite

# Local development
docker-compose.override.yml

#Example images
example-imgs

#Helper MD files
DESIGN-INSTRACTIONS.MD

out.txt

uploads/** */